n8n/lga-shopify-form-all-in-one.json
{
  "name": "LGA - Shopify Form Aplicar Credito (All-in-one)",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook Shopify Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "lga-shopify-form",
      "parameters": {
        "httpMethod": "POST",
        "path": "lga-shopify-form",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      }
    },
    {
      "id": "validate",
      "name": "Validate + Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const raw = $input.first().json.body || $input.first().json;\nif (!raw || typeof raw !== 'object') throw new Error('invalid_body');\n\nfunction normDni(s) { return String(s ?? '').replace(/\\D/g, ''); }\nfunction normPhone(s) {\n  let v = String(s ?? '').replace(/[^\\d+]/g, '');\n  if (!v) return '';\n  if (v.startsWith('+')) return v;\n  if (v.startsWith('549')) return '+' + v;\n  if (v.startsWith('54')) return '+' + v;\n  if (v.startsWith('0')) v = v.slice(1);\n  if (v.startsWith('15')) v = v.slice(2);\n  return '+549' + v;\n}\nfunction titleCase(s) { return String(s ?? '').toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()).trim(); }\nfunction num(s) { const n = Number(s); return Number.isFinite(n) ? n : 0; }\nfunction str(s) { return String(s ?? '').trim(); }\n\nconst required = ['dni','first_name','last_name','phone','birth_date','address_line','locality','province','postal_code','requested_amount_ars','requested_installments','payment_frequency','housing_status','occupation'];\nconst missing = required.filter(k => !raw[k] || String(raw[k]).trim() === '');\nif (missing.length) throw new Error('missing_required: ' + missing.join(','));\n\nconst dni = normDni(raw.dni);\nif (dni.length < 7 || dni.length > 9) throw new Error('invalid_dni');\n\nconst p = {\n  dni,\n  first_name: titleCase(raw.first_name),\n  last_name:  titleCase(raw.last_name),\n  email:      str(raw.email).toLowerCase() || null,\n  phone:      normPhone(raw.phone),\n  birth_date: str(raw.birth_date),\n  address_line: str(raw.address_line),\n  locality:     titleCase(raw.locality),\n  province:     titleCase(raw.province),\n  postal_code:  str(raw.postal_code).toUpperCase(),\n  requested_amount_ars:   num(raw.requested_amount_ars),\n  requested_installments: Math.max(1, Math.floor(num(raw.requested_installments))),\n  payment_frequency:      str(raw.payment_frequency),\n  estimated_installment_ars: num(raw.estimated_installment_ars),\n  declared_income_ars:    num(raw.declared_income_ars),\n  housing_status:    str(raw.housing_status),\n  occupation:        str(raw.occupation),\n  occupation_detail: str(raw.occupation_detail),\n  guarantor_name:     str(raw.guarantor_name),\n  guarantor_phone:    raw.guarantor_phone ? normPhone(raw.guarantor_phone) : '',\n  guarantor_relation: str(raw.guarantor_relation),\n  marketing_consent: !!raw.marketing_consent,\n  shop:           str(raw.shop) || 'domu',\n  source:         str(raw.source) || 'shopify_liquid',\n  product_id:     str(raw.product_id),\n  variant_id:     str(raw.variant_id),\n  product_title:  str(raw.product_title),\n  product_handle: str(raw.product_handle),\n  unit_price_ars: num(raw.unit_price_ars),\n  quantity:       Math.max(1, Math.floor(num(raw.quantity) || 1)),\n  cart_token:     str(raw.cart_token),\n  cart_total_ars: num(raw.cart_total_ars),\n  cart_summary:   str(raw.cart_summary),\n  utm_source: str(raw.utm_source), utm_medium: str(raw.utm_medium),\n  utm_campaign: str(raw.utm_campaign), utm_content: str(raw.utm_content), utm_term: str(raw.utm_term),\n  referrer_url:  str(raw.referrer_url),\n  landing_url:   str(raw.landing_url),\n  idempotency_key: str(raw.idempotency_key) || (dni + '-' + Date.now()),\n};\np._raw_payload = JSON.stringify(raw);\n\n// Build SQL inline to avoid queryReplacement comma-split bug (n8n parses queryReplacement as CSV)\nfunction lit(v) {\n  if (v === null || v === undefined || v === '') return 'NULL';\n  if (typeof v === 'number') return String(v);\n  if (typeof v === 'boolean') return v ? 'TRUE' : 'FALSE';\n  return \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\n}\n\np._sql_upsert_client = `insert into clients (\n  dni, first_name, last_name, email, phone_e164, birth_date,\n  address_line, locality, province, postal_code, source, marketing_consent\n) values (\n  ${lit(p.dni)}, ${lit(p.first_name)}, ${lit(p.last_name)},\n  ${lit(p.email)}, ${lit(p.phone)}, ${lit(p.birth_date)}::date,\n  ${lit(p.address_line)}, ${lit(p.locality)}, ${lit(p.province)}, ${lit(p.postal_code)},\n  ${lit('domu_' + p.source)}, ${lit(p.marketing_consent)}\n)\non conflict (dni) do update set\n  first_name        = excluded.first_name,\n  last_name         = excluded.last_name,\n  email             = coalesce(excluded.email, clients.email),\n  phone_e164        = coalesce(excluded.phone_e164, clients.phone_e164),\n  birth_date        = coalesce(excluded.birth_date, clients.birth_date),\n  address_line      = coalesce(excluded.address_line, clients.address_line),\n  locality          = coalesce(excluded.locality, clients.locality),\n  province          = coalesce(excluded.province, clients.province),\n  postal_code       = coalesce(excluded.postal_code, clients.postal_code),\n  source            = coalesce(clients.source, excluded.source),\n  marketing_consent = clients.marketing_consent or excluded.marketing_consent,\n  updated_at        = now()\nreturning id`;\n\np._sql_check_zone = `select status::text as zone_status, zone_id\nfrom check_zone(${lit(p.postal_code)}, ${lit(p.locality)}, ${lit(p.province)})`;\n\nreturn [{ json: p }];\n"
      }
    },
    {
      "id": "pg-upsert-client",
      "name": "PG: Upsert client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [640, 300],
      "credentials": {
        "postgres": { "id": "GeCij4810wvs6QyU", "name": "Supabase LGA — Postgres" }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json._sql_upsert_client }}",
        "options": {}
      }
    },
    {
      "id": "pg-check-zone",
      "name": "PG: Check zone",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [860, 300],
      "credentials": {
        "postgres": { "id": "GeCij4810wvs6QyU", "name": "Supabase LGA — Postgres" }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('Validate + Normalize').first().json._sql_check_zone }}",
        "options": {}
      }
    },
    {
      "id": "merge-validate-with-client-zone",
      "name": "Merge: payload + client_id + zone + build SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const p = $('Validate + Normalize').first().json;\nconst clientRow = $('PG: Upsert client').first().json;\nconst zoneRow = $('PG: Check zone').first().json;\nconst webhookHeaders = $('Webhook Shopify Form').first().json.headers || {};\n\nconst ctx = {\n  ...p,\n  client_id: clientRow.id,\n  zone_status: zoneRow?.zone_status || 'needs_review',\n  zone_id: zoneRow?.zone_id || null,\n  _ip: webhookHeaders['x-forwarded-for'] || '',\n  _ua: webhookHeaders['user-agent'] || '',\n};\n\n// Build SQL inline (escape single quotes; values from trusted normalized payload)\nfunction lit(v) {\n  if (v === null || v === undefined || v === '') return 'NULL';\n  if (typeof v === 'number') return String(v);\n  if (typeof v === 'boolean') return v ? 'TRUE' : 'FALSE';\n  return \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\n}\nfunction num(v) {\n  if (v === null || v === undefined || v === '' || Number.isNaN(Number(v))) return 'NULL';\n  return String(Number(v));\n}\n\nconst sql = `insert into credit_applications (\n  client_id, status, zone_status, zone_id,\n  shop, source, product_id, variant_id, product_title, product_handle, product_url,\n  unit_price_ars, quantity, cart_token, cart_total_ars, cart_summary,\n  requested_amount_ars, requested_installments, declared_income_ars,\n  utm_source, utm_medium, utm_campaign, utm_content, utm_term,\n  referrer_url, landing_url, ip, user_agent,\n  idempotency_key, raw_payload,\n  payment_frequency, housing_status, occupation, occupation_detail,\n  guarantor_name, guarantor_phone, guarantor_relation,\n  estimated_installment_ars\n) values (\n  ${lit(ctx.client_id)}::uuid, 'submitted', ${lit(ctx.zone_status)}::zone_status, ${ctx.zone_id ? lit(ctx.zone_id) + '::uuid' : 'NULL'},\n  ${lit(ctx.shop)}, ${lit(ctx.source)}, ${lit(ctx.product_id)}, ${lit(ctx.variant_id)}, ${lit(ctx.product_title)}, ${lit(ctx.product_handle)}, ${lit(ctx.referrer_url)},\n  ${num(ctx.unit_price_ars)}, ${num(ctx.quantity)}, ${lit(ctx.cart_token)}, ${num(ctx.cart_total_ars)}, ${lit(ctx.cart_summary)},\n  ${num(ctx.requested_amount_ars)}, ${num(ctx.requested_installments)}, ${num(ctx.declared_income_ars)},\n  ${lit(ctx.utm_source)}, ${lit(ctx.utm_medium)}, ${lit(ctx.utm_campaign)}, ${lit(ctx.utm_content)}, ${lit(ctx.utm_term)},\n  ${lit(ctx.referrer_url)}, ${lit(ctx.landing_url)}, ${lit(ctx._ip)}, ${lit(ctx._ua)},\n  ${lit(ctx.idempotency_key)}, ${lit(ctx._raw_payload)}::jsonb,\n  ${lit(ctx.payment_frequency)}::payment_frequency, ${lit(ctx.housing_status)}::housing_status, ${lit(ctx.occupation)}::occupation_type, ${lit(ctx.occupation_detail)},\n  ${lit(ctx.guarantor_name)}, ${lit(ctx.guarantor_phone)}, ${lit(ctx.guarantor_relation)},\n  ${num(ctx.estimated_installment_ars)}\n)\non conflict (idempotency_key) do update set\n  raw_payload = credit_applications.raw_payload\nreturning id::text as id, application_code, status::text as status, zone_status::text as zone_status, created_at::text as created_at`;\n\nreturn [{ json: { ...ctx, _sql: sql } }];\n"
      }
    },
    {
      "id": "pg-insert-app",
      "name": "PG: Insert credit_application",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1300, 300],
      "credentials": {
        "postgres": { "id": "GeCij4810wvs6QyU", "name": "Supabase LGA — Postgres" }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json._sql }}",
        "options": {}
      }
    },
    {
      "id": "merge-final-payload",
      "name": "Merge final: payload + app_code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 300],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const p = $('Merge: payload + client_id + zone + build SQL').first().json;\nconst app = $('PG: Insert credit_application').first().json;\ndelete p._sql; delete p._raw_payload;\nreturn [{ json: { ...p, application_id: app.id, application_code: app.application_code, application_status: 'submitted', created_at: app.created_at } }];\n"
      }
    },
    {
      "id": "respond",
      "name": "Respond to Form",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1740, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, application_code: $json.application_code, application_id: $json.application_id, zone_status: $json.zone_status, status: 'submitted', received_at: new Date().toISOString() }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      }
    },
    {
      "id": "format-telegram",
      "name": "Format Telegram message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 100],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const p = $json;\nfunction esc(s) { return String(s ?? '').replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); }\nfunction money(n) { const v = Math.round(Number(n) || 0); return '$' + v.toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.'); }\nfunction fmtDni(d) { return String(d || '').replace(/(\\d{2,3})(?=(\\d{3})+$)/g, '$1.'); }\nconst E = { check: '✅', warn: '⚠️', cross: '❌', speech: '💬', clipboard: '📋' };\nconst housingMap = { owned: 'Vivienda propia', rented: 'Vivienda alquilada', family: 'Vivienda familiar / cedida', other: 'Otra vivienda' };\nconst occupationMap = { employed_registered: 'Empleado en relación de dependencia', self_employed_registered: 'Monotributista / Autónomo', unregistered: 'Trabajo informal', retired: 'Jubilado / Pensionado', homemaker: 'Ama de casa', student: 'Estudiante', informal: 'Trabajos por cuenta propia', other: 'Otra ocupación' };\nconst freqMap = { daily: 'diarias', weekly: 'semanales', monthly: 'mensuales' };\nfunction zoneInfo(z) { if (z === 'in_zone') return { e: E.check, label: 'En zona' }; if (z === 'needs_review') return { e: E.warn, label: 'Revisar manualmente' }; return { e: E.cross, label: 'Fuera de zona' }; }\nconst code = p.application_code || 'unknown';\nconst nombre = `${p.first_name || ''} ${p.last_name || ''}`.trim() || 'Sin nombre';\nconst dni = fmtDni(p.dni); const phone = p.phone || ''; const email = p.email || '';\nconst monto = money(p.requested_amount_ars); const cuotas = p.requested_installments || '?';\nconst freq = freqMap[p.payment_frequency] || p.payment_frequency || '';\nconst ingreso = p.declared_income_ars ? money(p.declared_income_ars) : null;\nconst housing = housingMap[p.housing_status] || p.housing_status || '';\nconst occupation = occupationMap[p.occupation] || p.occupation || '';\nconst direccion = p.address_line || ''; const locality = p.locality || ''; const province = p.province || ''; const postal = p.postal_code || '';\nconst product = p.product_title || ''; const cartTotal = p.cart_total_ars ? money(p.cart_total_ars) : null;\nconst z = zoneInfo(p.zone_status || 'unknown');\nconst out = [];\nout.push(`🔔 *Nueva solicitud — ${esc(code)}*`);\nout.push('');\nout.push(`*Cliente*`);\nout.push(`${esc(nombre)}`);\nout.push(`DNI ${esc(dni)} · ${esc(phone)}`);\nif (email) out.push(esc(email));\nout.push('');\nout.push(`*Crédito solicitado*`);\nout.push(`${esc(monto)} en ${esc(cuotas)} cuotas ${esc(freq)}`);\nif (ingreso) out.push(`Ingreso declarado: ${esc(ingreso)} / mes`);\nconst ocVi = [occupation, housing].filter(Boolean).join(' · ');\nif (ocVi) out.push(esc(ocVi));\nout.push('');\nout.push(`*Domicilio*`);\nif (direccion) out.push(esc(direccion));\nconst ciudad = [locality, province].filter(Boolean).join(', ');\nconst ciudadLine = postal ? `${ciudad} \\\\(${esc(postal)}\\\\)` : esc(ciudad);\nif (ciudad) out.push(ciudadLine);\nout.push(`Estado: ${z.e} ${esc(z.label)}`);\nif (product) {\n  out.push('');\n  out.push(`*Producto en el carrito*`);\n  const prodLine = cartTotal ? `${esc(product)} — ${esc(cartTotal)}` : esc(product);\n  out.push(prodLine);\n}\nconst text = out.join('\\n');\nconst inboxQuery = `-- Inbox solicitudes\\nselect a.application_code, (c.first_name || ' ' || c.last_name) as cliente, c.dni, c.phone_e164, a.requested_amount_ars, a.requested_installments, a.zone_status, a.status, to_char(a.created_at at time zone 'America/Argentina/Buenos_Aires', 'YYYY-MM-DD HH24:MI') as fecha from credit_applications a join clients c on c.id = a.client_id order by a.created_at desc;`;\nconst inboxUrl = `https://supabase.com/dashboard/project/tbzlkrvmlfyqyzqkkerf/sql/new?content=${encodeURIComponent(inboxQuery)}`;\nconst waPhone = (phone || '').replace(/\\D/g, '');\nconst firstName = p.first_name || '';\nconst waMsg = `Hola ${firstName}, te contactamos de LGA por tu solicitud de crédito ${code}`;\nconst waLink = waPhone ? `https://wa.me/${waPhone}?text=${encodeURIComponent(waMsg)}` : null;\nconst keyboard = { inline_keyboard: [] };\nif (waLink) keyboard.inline_keyboard.push([{ text: `${E.speech} WhatsApp al cliente`, url: waLink }]);\nkeyboard.inline_keyboard.push([{ text: `${E.clipboard} Inbox solicitudes`, url: inboxUrl }]);\nreturn [{ json: { chat_id: -1003766295782, text, parse_mode: 'MarkdownV2', reply_markup: keyboard, disable_web_page_preview: true } }];\n"
      }
    },
    {
      "id": "send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2180, 100],
      "credentials": {
        "telegramApi": { "id": "bqvsDTqaleNqVAKp", "name": "Telegram account" }
      },
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "MarkdownV2",
          "disable_web_page_preview": true,
          "reply_markup": "={{ JSON.stringify($json.reply_markup) }}"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "shopify-draft-create",
      "name": "Shopify: draftOrderCreate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 500],
      "credentials": {
        "httpHeaderAuth": { "id": "SlwpsrxNZrq7Inu1", "name": "Shopify Domu Token" }
      },
      "parameters": {
        "method": "POST",
        "url": "https://mem1a9-ev.myshopify.com/admin/api/2025-01/graphql.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: 'mutation lgaDraftCreate($input: DraftOrderInput!) { draftOrderCreate(input: $input) { draftOrder { id name invoiceUrl status } userErrors { field message } } }', variables: $json.variant_id ? { input: { lineItems: [{ variantId: 'gid://shopify/ProductVariant/' + String($json.variant_id).replace(/\\D/g,''), quantity: $json.quantity || 1 }], email: $json.email || null, phone: $json.phone || null, shippingAddress: { firstName: $json.first_name || '—', lastName: $json.last_name || '—', address1: $json.address_line || '', city: $json.locality || '', province: $json.province || '', zip: $json.postal_code || '', country: 'Argentina', phone: $json.phone || '' }, billingAddress: { firstName: $json.first_name || '—', lastName: $json.last_name || '—', address1: $json.address_line || '', city: $json.locality || '', province: $json.province || '', zip: $json.postal_code || '', country: 'Argentina', phone: $json.phone || '' }, tags: ['lga-credit','lga-pending-approval','lga-app-' + $json.application_code], note: 'Crédito LGA pendiente de aprobación.\\nDNI ' + $json.dni + ' · Monto pedido $' + Math.round($json.requested_amount_ars).toLocaleString('es-AR') + ' ARS · ' + $json.requested_installments + ' cuotas ' + $json.payment_frequency + '.\\nApplication code: ' + $json.application_code, customAttributes: [{ key: 'lga_application_code', value: $json.application_code }, { key: 'lga_dni', value: $json.dni }, { key: 'lga_monto_pedido_ars', value: String(Math.round($json.requested_amount_ars)) }, { key: 'lga_cuotas', value: String($json.requested_installments) }, { key: 'lga_payment_frequency', value: $json.payment_frequency }] } } : { input: {} } }) }}",
        "options": {
          "timeout": 20000,
          "response": { "response": { "neverError": true, "responseFormat": "json" } }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "shopify-parse-draft",
      "name": "Shopify: parse + merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 500],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const p = $('Merge final: payload + app_code').first().json;\nconst resp = $input.first().json || {};\nconst data = resp?.data?.draftOrderCreate || {};\nconst errs = data.userErrors || [];\nconst draft = data.draftOrder;\nlet shopify = {\n  shopify_draft_order_id: '', shopify_draft_order_gid: '',\n  shopify_draft_order_name: '', shopify_invoice_url: '',\n  shopify_status: '', shopify_last_error: '',\n};\nif (draft && !errs.length) {\n  const gid = draft.id;\n  const m = gid.match(/(\\d+)$/);\n  shopify = {\n    shopify_draft_order_id:   m ? m[1] : '',\n    shopify_draft_order_gid:  gid,\n    shopify_draft_order_name: draft.name || '',\n    shopify_invoice_url:      draft.invoiceUrl || '',\n    shopify_status:           'draft_created',\n    shopify_last_error:       '',\n  };\n} else if (errs.length) {\n  shopify.shopify_last_error = JSON.stringify(errs).slice(0, 300);\n  shopify.shopify_status = 'error';\n}\nreturn [{ json: { ...p, ...shopify } }];\n"
      }
    },
    {
      "id": "shopify-complete-draft",
      "name": "Shopify: draftOrderComplete (instant order)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2090, 500],
      "credentials": {
        "httpHeaderAuth": { "id": "SlwpsrxNZrq7Inu1", "name": "Shopify Domu Token" }
      },
      "parameters": {
        "method": "POST",
        "url": "https://mem1a9-ev.myshopify.com/admin/api/2025-01/graphql.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: 'mutation lgaDraftComplete($id: ID!, $paymentPending: Boolean) { draftOrderComplete(id: $id, paymentPending: $paymentPending) { draftOrder { id order { id name displayFulfillmentStatus displayFinancialStatus } } userErrors { field message } } }', variables: { id: $json.shopify_draft_order_gid, paymentPending: true } }) }}",
        "options": { "timeout": 20000, "response": { "response": { "neverError": true, "responseFormat": "json" } } }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "shopify-parse-order",
      "name": "Shopify: parse complete → order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 500],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "// Toma el output del parse + merge (con shopify_draft_order_*) y mergea el resultado\n// del draftOrderComplete (con shopify_order_*). El draft existió milisegundos —\n// ahora es un Order unfulfilled y Shopify dispara notificación al staff.\nconst p = $('Shopify: parse + merge').first().json;\nconst resp = $input.first().json || {};\nconst data = resp?.data?.draftOrderComplete || {};\nconst errs = data.userErrors || [];\nconst order = data.draftOrder?.order;\n\n// Si el draft no se completó (no draft_id válido o error), mantener como draft_created\nif (!order) {\n  if (errs.length) {\n    p.shopify_last_error = JSON.stringify(errs).slice(0, 300);\n  }\n  return [{ json: p }];\n}\n\nconst gid = order.id;\nconst m = gid.match(/(\\d+)$/);\np.shopify_order_id   = m ? m[1] : '';\np.shopify_order_gid  = gid;\np.shopify_order_name = order.name || '';\np.shopify_order_fulfillment_status = String(order.displayFulfillmentStatus || '').toLowerCase();\np.shopify_order_financial_status   = String(order.displayFinancialStatus || '').toLowerCase();\np.shopify_status     = 'order_unfulfilled';\np.shopify_last_error = '';\nreturn [{ json: p }];\n"
      }
    },
    {
      "id": "map-wp-acf",
      "name": "Map ACF for WP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2350, 500],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const p = $json;\nconst hasShopify = !!(p.shopify_draft_order_id || p.shopify_order_id);\nreturn [{ json: {\n  title: p.application_code || ('LGA-' + Date.now()),\n  status: 'publish',\n  acf: {\n    first_name: p.first_name || '', last_name: p.last_name || '',\n    dni: p.dni || '', birth_date: p.birth_date || '',\n    phone: p.phone || '', email: p.email || '',\n    address_line: p.address_line || '', locality: p.locality || '',\n    province: p.province || '', postal_code: p.postal_code || '',\n    housing_status: p.housing_status || '', occupation: p.occupation || '',\n    occupation_detail: p.occupation_detail || '',\n    declared_income_ars: p.declared_income_ars || 0,\n    guarantor_name: p.guarantor_name || '', guarantor_phone: p.guarantor_phone || '',\n    guarantor_relation: p.guarantor_relation || '',\n    requested_amount_ars: p.requested_amount_ars || 0,\n    payment_frequency: p.payment_frequency || '',\n    requested_installments: p.requested_installments || 0,\n    estimated_installment_ars: p.estimated_installment_ars || 0,\n    application_status: 'submitted', zone_status: p.zone_status || '',\n    shop: p.shop || '', source: p.source || '',\n    product_id: String(p.product_id || ''), variant_id: String(p.variant_id || ''),\n    product_title: p.product_title || '', product_handle: p.product_handle || '',\n    unit_price_ars: p.unit_price_ars || 0, quantity: p.quantity || 1,\n    cart_token: p.cart_token || '', cart_total_ars: p.cart_total_ars || 0,\n    cart_summary: p.cart_summary || '',\n    utm_source: p.utm_source || '', utm_medium: p.utm_medium || '',\n    utm_campaign: p.utm_campaign || '', utm_content: p.utm_content || '',\n    utm_term: p.utm_term || '', referrer_url: p.referrer_url || '',\n    landing_url: p.landing_url || '',\n    application_code: p.application_code || '',\n    application_id: p.application_id || '', client_id: p.client_id || '',\n    supabase_synced_at: new Date().toISOString().replace('T',' ').slice(0,19),\n    // Shopify: draft + order (porque ahora completamos el draft al instante)\n    shopify_draft_order_id:   p.shopify_draft_order_id || '',\n    shopify_draft_order_gid:  p.shopify_draft_order_gid || '',\n    shopify_draft_order_name: p.shopify_draft_order_name || '',\n    shopify_invoice_url:      p.shopify_invoice_url || '',\n    shopify_order_id:         p.shopify_order_id || '',\n    shopify_order_gid:        p.shopify_order_gid || '',\n    shopify_order_name:       p.shopify_order_name || '',\n    shopify_order_fulfillment_status: p.shopify_order_fulfillment_status || '',\n    shopify_order_financial_status:   p.shopify_order_financial_status || '',\n    shopify_status:           p.shopify_status || '',\n    shopify_last_error:       p.shopify_last_error || '',\n    shopify_last_sync_at:     hasShopify ? new Date().toISOString().replace('T',' ').slice(0,19) : '',\n  }\n}}];\n"
      }
    },
    {
      "id": "create-wp-post",
      "name": "Create WP solicitud",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2180, 500],
      "parameters": {
        "method": "POST",
        "url": "https://admin.lga-arg.com/wp-json/wp/v2/solicitudes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept", "value": "application/json" },
            { "name": "Authorization", "value": "Basic Z2Vyb2xvcGV6Z2VAZ21haWwuY29tOjRZSXggSlRlOSBBeVdYIDdqUU4gcjA2SSBMT1Iy" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000,
          "response": { "response": { "neverError": true, "responseFormat": "json" } }
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook Shopify Form": { "main": [[{ "node": "Validate + Normalize", "type": "main", "index": 0 }]] },
    "Validate + Normalize":  { "main": [[{ "node": "PG: Upsert client", "type": "main", "index": 0 }]] },
    "PG: Upsert client":     { "main": [[{ "node": "PG: Check zone", "type": "main", "index": 0 }]] },
    "PG: Check zone":        { "main": [[{ "node": "Merge: payload + client_id + zone + build SQL", "type": "main", "index": 0 }]] },
    "Merge: payload + client_id + zone + build SQL": { "main": [[{ "node": "PG: Insert credit_application", "type": "main", "index": 0 }]] },
    "PG: Insert credit_application":     { "main": [[{ "node": "Merge final: payload + app_code", "type": "main", "index": 0 }]] },
    "Merge final: payload + app_code": {
      "main": [[
        { "node": "Respond to Form", "type": "main", "index": 0 },
        { "node": "Format Telegram message", "type": "main", "index": 0 },
        { "node": "Shopify: draftOrderCreate", "type": "main", "index": 0 }
      ]]
    },
    "Format Telegram message":      { "main": [[{ "node": "Send Telegram", "type": "main", "index": 0 }]] },
    "Shopify: draftOrderCreate":    { "main": [[{ "node": "Shopify: parse + merge", "type": "main", "index": 0 }]] },
    "Shopify: parse + merge":       { "main": [[{ "node": "Shopify: draftOrderComplete (instant order)", "type": "main", "index": 0 }]] },
    "Shopify: draftOrderComplete (instant order)": { "main": [[{ "node": "Shopify: parse complete → order", "type": "main", "index": 0 }]] },
    "Shopify: parse complete → order": { "main": [[{ "node": "Map ACF for WP", "type": "main", "index": 0 }]] },
    "Map ACF for WP":               { "main": [[{ "node": "Create WP solicitud", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveExecutionProgress": true,
    "timezone": "America/Argentina/Buenos_Aires"
  }
}
