n8n/lga-shopify-form-all-in-one.json
{
  "name": "LGA - Shopify Form Aplicar Credito (All-in-one)",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook Shopify Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "lga-shopify-form",
      "parameters": {
        "httpMethod": "POST",
        "path": "lga-shopify-form",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      }
    },
    {
      "id": "validate",
      "name": "Validate + Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "// Lee body del webhook, normaliza DNI/phone/strings, valida required.\nconst raw = $input.first().json.body || $input.first().json;\nif (!raw || typeof raw !== 'object') {\n  throw new Error('invalid_body');\n}\n\nfunction normDni(s) { return String(s ?? '').replace(/\\D/g, ''); }\nfunction normPhone(s) {\n  let v = String(s ?? '').replace(/[^\\d+]/g, '');\n  if (!v) return '';\n  if (v.startsWith('+')) return v;\n  if (v.startsWith('549')) return '+' + v;\n  if (v.startsWith('54')) return '+' + v;\n  if (v.startsWith('0')) v = v.slice(1);\n  if (v.startsWith('15')) v = v.slice(2);\n  return '+549' + v;\n}\nfunction titleCase(s) {\n  return String(s ?? '').toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()).trim();\n}\nfunction num(s) { const n = Number(s); return Number.isFinite(n) ? n : 0; }\nfunction str(s) { return String(s ?? '').trim(); }\n\nconst required = ['dni','first_name','last_name','phone','birth_date',\n  'address_line','locality','province','postal_code',\n  'requested_amount_ars','requested_installments','payment_frequency',\n  'housing_status','occupation'];\nconst missing = required.filter(k => !raw[k] || String(raw[k]).trim() === '');\nif (missing.length) {\n  throw new Error('missing_required: ' + missing.join(','));\n}\n\nconst dni = normDni(raw.dni);\nif (dni.length < 7 || dni.length > 9) {\n  throw new Error('invalid_dni');\n}\n\nconst p = {\n  // Identidad\n  dni,\n  first_name: titleCase(raw.first_name),\n  last_name:  titleCase(raw.last_name),\n  email:      str(raw.email).toLowerCase() || null,\n  phone:      normPhone(raw.phone),\n  birth_date: str(raw.birth_date), // YYYY-MM-DD\n  // Domicilio\n  address_line: str(raw.address_line),\n  locality:     titleCase(raw.locality),\n  province:     titleCase(raw.province),\n  postal_code:  str(raw.postal_code).toUpperCase(),\n  // Crédito\n  requested_amount_ars:   num(raw.requested_amount_ars),\n  requested_installments: Math.max(1, Math.floor(num(raw.requested_installments))),\n  payment_frequency:      str(raw.payment_frequency),\n  estimated_installment_ars: num(raw.estimated_installment_ars),\n  declared_income_ars:    num(raw.declared_income_ars),\n  // Ocupación / Vivienda\n  housing_status:    str(raw.housing_status),\n  occupation:        str(raw.occupation),\n  occupation_detail: str(raw.occupation_detail),\n  // Garante\n  guarantor_name:     str(raw.guarantor_name),\n  guarantor_phone:    raw.guarantor_phone ? normPhone(raw.guarantor_phone) : '',\n  guarantor_relation: str(raw.guarantor_relation),\n  // Marketing\n  marketing_consent: !!raw.marketing_consent,\n  // Shopify product\n  shop:           str(raw.shop) || 'domu',\n  source:         str(raw.source) || 'shopify_liquid',\n  product_id:     str(raw.product_id),\n  variant_id:     str(raw.variant_id),\n  product_title:  str(raw.product_title),\n  product_handle: str(raw.product_handle),\n  unit_price_ars: num(raw.unit_price_ars),\n  quantity:       Math.max(1, Math.floor(num(raw.quantity) || 1)),\n  cart_token:     str(raw.cart_token),\n  cart_total_ars: num(raw.cart_total_ars),\n  cart_summary:   str(raw.cart_summary),\n  // UTM\n  utm_source:    str(raw.utm_source),\n  utm_medium:    str(raw.utm_medium),\n  utm_campaign:  str(raw.utm_campaign),\n  utm_content:   str(raw.utm_content),\n  utm_term:      str(raw.utm_term),\n  referrer_url:  str(raw.referrer_url),\n  landing_url:   str(raw.landing_url),\n  // Idempotency: el form genera UUID en client; si no vino, lo armamos del dni+timestamp\n  idempotency_key: str(raw.idempotency_key) || (dni + '-' + Date.now()),\n};\n\n// raw_payload guarda el JSON completo del form como vino (sin normalizar)\np._raw_payload = JSON.stringify(raw);\n\nreturn [{ json: p }];\n"
      }
    },
    {
      "id": "pg-upsert-client",
      "name": "PG: Upsert client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [640, 300],
      "credentials": {
        "postgres": {
          "id": "857MwnILNdTuy8gr",
          "name": "Supabase LGA — Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into clients (\n  dni, first_name, last_name, email, phone_e164, birth_date,\n  address_line, locality, province, postal_code, source, marketing_consent\n) values (\n  $1, $2, $3, $4, $5, $6::date,\n  $7, $8, $9, $10, $11, $12\n)\non conflict (dni) do update set\n  first_name        = excluded.first_name,\n  last_name         = excluded.last_name,\n  email             = coalesce(excluded.email, clients.email),\n  phone_e164        = coalesce(excluded.phone_e164, clients.phone_e164),\n  birth_date        = coalesce(excluded.birth_date, clients.birth_date),\n  address_line      = coalesce(excluded.address_line, clients.address_line),\n  locality          = coalesce(excluded.locality, clients.locality),\n  province          = coalesce(excluded.province, clients.province),\n  postal_code       = coalesce(excluded.postal_code, clients.postal_code),\n  source            = coalesce(clients.source, excluded.source),\n  marketing_consent = clients.marketing_consent or excluded.marketing_consent,\n  updated_at        = now()\nreturning id",
        "options": {
          "queryReplacement": "={{ $json.dni }},={{ $json.first_name }},={{ $json.last_name }},={{ $json.email }},={{ $json.phone }},={{ $json.birth_date }},={{ $json.address_line }},={{ $json.locality }},={{ $json.province }},={{ $json.postal_code }},={{ 'domu_' + ($json.source || 'unknown') }},={{ $json.marketing_consent }}"
        }
      }
    },
    {
      "id": "pg-check-zone",
      "name": "PG: Check zone",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [860, 300],
      "credentials": {
        "postgres": {
          "id": "857MwnILNdTuy8gr",
          "name": "Supabase LGA — Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "select status::text as zone_status, zone_id\nfrom check_zone($1, $2, $3)",
        "options": {
          "queryReplacement": "={{ $('Validate + Normalize').item.json.postal_code }},={{ $('Validate + Normalize').item.json.locality }},={{ $('Validate + Normalize').item.json.province }}"
        }
      }
    },
    {
      "id": "merge-validate-with-client-zone",
      "name": "Merge: payload + client_id + zone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "// Merge: payload validado + client_id de PG + zone_status\nconst p = $('Validate + Normalize').first().json;\nconst clientRow = $('PG: Upsert client').first().json;\nconst zoneRow = $('PG: Check zone').first().json;\nconst client_id = clientRow.id;\nconst zone_status = zoneRow?.zone_status || 'needs_review';\nconst zone_id = zoneRow?.zone_id || null;\nreturn [{ json: { ...p, client_id, zone_status, zone_id } }];\n"
      }
    },
    {
      "id": "pg-insert-app",
      "name": "PG: Insert credit_application",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1300, 300],
      "credentials": {
        "postgres": {
          "id": "857MwnILNdTuy8gr",
          "name": "Supabase LGA — Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into credit_applications (\n  client_id, status, zone_status, zone_id,\n  shop, source, product_id, variant_id, product_title, product_handle, product_url,\n  unit_price_ars, quantity, cart_token, cart_total_ars, cart_summary,\n  requested_amount_ars, requested_installments, declared_income_ars,\n  utm_source, utm_medium, utm_campaign, utm_content, utm_term,\n  referrer_url, landing_url, ip, user_agent,\n  idempotency_key, raw_payload,\n  payment_frequency, housing_status, occupation, occupation_detail,\n  guarantor_name, guarantor_phone, guarantor_relation,\n  estimated_installment_ars\n) values (\n  $1::uuid, 'submitted', $2::zone_status, $3,\n  $4, $5, $6, $7, $8, $9, $10,\n  $11, $12, $13, $14, $15,\n  $16, $17, $18,\n  $19, $20, $21, $22, $23,\n  $24, $25, $26, $27,\n  $28, $29::jsonb,\n  $30::payment_frequency, $31::housing_status, $32::occupation_type, $33,\n  $34, $35, $36,\n  $37\n)\non conflict (idempotency_key) do update set\n  raw_payload = credit_applications.raw_payload\nreturning id::text as id, application_code, status::text as status, zone_status::text as zone_status, created_at::text as created_at",
        "options": {
          "queryReplacement": "={{ $json.client_id }},={{ $json.zone_status }},={{ $json.zone_id }},={{ $json.shop }},={{ $json.source }},={{ $json.product_id || null }},={{ $json.variant_id || null }},={{ $json.product_title || null }},={{ $json.product_handle || null }},={{ $json.referrer_url || null }},={{ $json.unit_price_ars || null }},={{ $json.quantity }},={{ $json.cart_token || null }},={{ $json.cart_total_ars }},={{ $json.cart_summary || null }},={{ $json.requested_amount_ars }},={{ $json.requested_installments }},={{ $json.declared_income_ars || null }},={{ $json.utm_source || null }},={{ $json.utm_medium || null }},={{ $json.utm_campaign || null }},={{ $json.utm_content || null }},={{ $json.utm_term || null }},={{ $json.referrer_url || null }},={{ $json.landing_url || null }},={{ $('Webhook Shopify Form').first().json.headers['x-forwarded-for'] || '' }},={{ $('Webhook Shopify Form').first().json.headers['user-agent'] || '' }},={{ $json.idempotency_key }},={{ $json._raw_payload }},={{ $json.payment_frequency }},={{ $json.housing_status }},={{ $json.occupation }},={{ $json.occupation_detail || null }},={{ $json.guarantor_name || null }},={{ $json.guarantor_phone || null }},={{ $json.guarantor_relation || null }},={{ $json.estimated_installment_ars || null }}"
        }
      }
    },
    {
      "id": "merge-final-payload",
      "name": "Merge final: payload + app_code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 300],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const p = $('Merge: payload + client_id + zone').first().json;\nconst app = $('PG: Insert credit_application').first().json;\nreturn [{\n  json: {\n    ...p,\n    application_id: app.id,\n    application_code: app.application_code,\n    application_status: 'submitted',\n    created_at: app.created_at,\n  }\n}];\n"
      }
    },
    {
      "id": "respond",
      "name": "Respond to Form",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1740, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, application_code: $json.application_code, application_id: $json.application_id, zone_status: $json.zone_status, status: 'submitted', received_at: new Date().toISOString() }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      }
    },
    {
      "id": "format-telegram",
      "name": "Format Telegram message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 100],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const p = $json;\n\nfunction esc(s) { return String(s ?? '').replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1'); }\nfunction money(n) { const v = Math.round(Number(n) || 0); return '$' + v.toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.'); }\nfunction fmtDni(d) { return String(d || '').replace(/(\\d{2,3})(?=(\\d{3})+$)/g, '$1.'); }\n\nconst E = { check: '✅', warn: '⚠️', cross: '❌', speech: '💬', clipboard: '📋' };\n\nconst housingMap = {\n  owned: 'Vivienda propia', rented: 'Vivienda alquilada',\n  family: 'Vivienda familiar / cedida', other: 'Otra vivienda',\n};\nconst occupationMap = {\n  employed_registered:      'Empleado en relación de dependencia',\n  self_employed_registered: 'Monotributista / Autónomo',\n  unregistered:             'Trabajo informal',\n  retired:                  'Jubilado / Pensionado',\n  homemaker:                'Ama de casa',\n  student:                  'Estudiante',\n  informal:                 'Trabajos por cuenta propia',\n  other:                    'Otra ocupación',\n};\nconst freqMap = { daily: 'diarias', weekly: 'semanales', monthly: 'mensuales' };\n\nfunction zoneInfo(z) {\n  if (z === 'in_zone')      return { e: E.check, label: 'En zona' };\n  if (z === 'needs_review') return { e: E.warn,  label: 'Revisar manualmente' };\n  return { e: E.cross, label: 'Fuera de zona' };\n}\n\nconst code = p.application_code || 'unknown';\nconst nombre = `${p.first_name || ''} ${p.last_name || ''}`.trim() || 'Sin nombre';\nconst dni = fmtDni(p.dni);\nconst phone = p.phone || '';\nconst email = p.email || '';\nconst monto = money(p.requested_amount_ars);\nconst cuotas = p.requested_installments || '?';\nconst freq = freqMap[p.payment_frequency] || p.payment_frequency || '';\nconst ingreso = p.declared_income_ars ? money(p.declared_income_ars) : null;\nconst housing = housingMap[p.housing_status] || p.housing_status || '';\nconst occupation = occupationMap[p.occupation] || p.occupation || '';\nconst direccion = p.address_line || '';\nconst locality = p.locality || '';\nconst province = p.province || '';\nconst postal = p.postal_code || '';\nconst product = p.product_title || '';\nconst cartTotal = p.cart_total_ars ? money(p.cart_total_ars) : null;\nconst z = zoneInfo(p.zone_status || 'unknown');\n\nconst out = [];\nout.push(`🔔 *Nueva solicitud — ${esc(code)}*`);\nout.push('');\nout.push(`*Cliente*`);\nout.push(`${esc(nombre)}`);\nout.push(`DNI ${esc(dni)} · ${esc(phone)}`);\nif (email) out.push(esc(email));\nout.push('');\nout.push(`*Crédito solicitado*`);\nout.push(`${esc(monto)} en ${esc(cuotas)} cuotas ${esc(freq)}`);\nif (ingreso) out.push(`Ingreso declarado: ${esc(ingreso)} / mes`);\nconst ocVi = [occupation, housing].filter(Boolean).join(' · ');\nif (ocVi) out.push(esc(ocVi));\nout.push('');\nout.push(`*Domicilio*`);\nif (direccion) out.push(esc(direccion));\nconst ciudad = [locality, province].filter(Boolean).join(', ');\nconst ciudadLine = postal ? `${ciudad} \\\\(${esc(postal)}\\\\)` : esc(ciudad);\nif (ciudad) out.push(ciudadLine);\nout.push(`Estado: ${z.e} ${esc(z.label)}`);\n\nif (product) {\n  out.push('');\n  out.push(`*Producto en el carrito*`);\n  const prodLine = cartTotal ? `${esc(product)} — ${esc(cartTotal)}` : esc(product);\n  out.push(prodLine);\n}\n\nconst text = out.join('\\n');\n\nconst inboxQuery = `-- Inbox solicitudes\\nselect a.application_code, (c.first_name || ' ' || c.last_name) as cliente, c.dni, c.phone_e164, a.requested_amount_ars, a.requested_installments, a.zone_status, a.status, to_char(a.created_at at time zone 'America/Argentina/Buenos_Aires', 'YYYY-MM-DD HH24:MI') as fecha from credit_applications a join clients c on c.id = a.client_id order by a.created_at desc;`;\nconst inboxUrl = `https://supabase.com/dashboard/project/tbzlkrvmlfyqyzqkkerf/sql/new?content=${encodeURIComponent(inboxQuery)}`;\n\nconst waPhone = (phone || '').replace(/\\D/g, '');\nconst firstName = p.first_name || '';\nconst waMsg = `Hola ${firstName}, te contactamos de LGA por tu solicitud de crédito ${code}`;\nconst waLink = waPhone ? `https://wa.me/${waPhone}?text=${encodeURIComponent(waMsg)}` : null;\n\nconst keyboard = { inline_keyboard: [] };\nif (waLink) keyboard.inline_keyboard.push([{ text: `${E.speech} WhatsApp al cliente`, url: waLink }]);\nkeyboard.inline_keyboard.push([{ text: `${E.clipboard} Inbox solicitudes`, url: inboxUrl }]);\n\nreturn [{ json: { chat_id: -1003766295782, text, parse_mode: 'MarkdownV2', reply_markup: keyboard, disable_web_page_preview: true } }];\n"
      }
    },
    {
      "id": "send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2180, 100],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.LGA_TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "shopify-get-token",
      "name": "Shopify: Get access token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env.LGA_SHOPIFY_SHOP }}/admin/oauth/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/x-www-form-urlencoded" }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "client_id", "value": "={{ $env.LGA_SHOPIFY_CLIENT_ID }}" },
            { "name": "client_secret", "value": "={{ $env.LGA_SHOPIFY_CLIENT_SECRET }}" },
            { "name": "grant_type", "value": "client_credentials" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "shopify-create-draft",
      "name": "Shopify: draftOrderCreate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2180, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env.LGA_SHOPIFY_SHOP }}/admin/api/{{ $env.LGA_SHOPIFY_API_VERSION || '2025-01' }}/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Shopify-Access-Token", "value": "={{ $('Shopify: Get access token').item.json.access_token }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: 'mutation lgaDraftCreate($input: DraftOrderInput!) { draftOrderCreate(input: $input) { draftOrder { id name invoiceUrl status } userErrors { field message } } }', variables: { input: { lineItems: [{ variantId: 'gid://shopify/ProductVariant/' + (String($('Merge final: payload + app_code').first().json.variant_id || '').replace(/\\D/g,'')), quantity: $('Merge final: payload + app_code').first().json.quantity || 1 }], email: $('Merge final: payload + app_code').first().json.email || null, phone: $('Merge final: payload + app_code').first().json.phone || null, shippingAddress: { firstName: $('Merge final: payload + app_code').first().json.first_name || '—', lastName: $('Merge final: payload + app_code').first().json.last_name || '—', address1: $('Merge final: payload + app_code').first().json.address_line || '', city: $('Merge final: payload + app_code').first().json.locality || '', province: $('Merge final: payload + app_code').first().json.province || '', zip: $('Merge final: payload + app_code').first().json.postal_code || '', country: 'Argentina', phone: $('Merge final: payload + app_code').first().json.phone || '' }, billingAddress: { firstName: $('Merge final: payload + app_code').first().json.first_name || '—', lastName: $('Merge final: payload + app_code').first().json.last_name || '—', address1: $('Merge final: payload + app_code').first().json.address_line || '', city: $('Merge final: payload + app_code').first().json.locality || '', province: $('Merge final: payload + app_code').first().json.province || '', zip: $('Merge final: payload + app_code').first().json.postal_code || '', country: 'Argentina', phone: $('Merge final: payload + app_code').first().json.phone || '' }, tags: ['lga-credit','lga-pending-approval','lga-app-' + $('Merge final: payload + app_code').first().json.application_code], note: 'Crédito LGA pendiente de aprobación.\\nDNI ' + $('Merge final: payload + app_code').first().json.dni + ' · Monto pedido $' + (Math.round($('Merge final: payload + app_code').first().json.requested_amount_ars).toLocaleString('es-AR')) + ' ARS · ' + $('Merge final: payload + app_code').first().json.requested_installments + ' cuotas ' + $('Merge final: payload + app_code').first().json.payment_frequency + '.\\nApplication code: ' + $('Merge final: payload + app_code').first().json.application_code, customAttributes: [{ key: 'lga_application_code', value: $('Merge final: payload + app_code').first().json.application_code }, { key: 'lga_dni', value: $('Merge final: payload + app_code').first().json.dni }, { key: 'lga_monto_pedido_ars', value: String(Math.round($('Merge final: payload + app_code').first().json.requested_amount_ars)) }, { key: 'lga_cuotas', value: String($('Merge final: payload + app_code').first().json.requested_installments) }, { key: 'lga_payment_frequency', value: $('Merge final: payload + app_code').first().json.payment_frequency }] } } }) }}",
        "options": { "timeout": 20000 }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "shopify-parse-draft",
      "name": "Shopify: parse draft result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 300],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const resp = $input.first().json;\nconst data = resp?.data?.draftOrderCreate || {};\nconst errs = data.userErrors || [];\nconst draft = data.draftOrder;\nif (!draft || errs.length) {\n  return [{ json: { ok: false, errors: errs, raw: resp } }];\n}\nconst gid = draft.id;\nconst m = gid.match(/(\\d+)$/);\nconst draft_id = m ? m[1] : '';\nreturn [{ json: {\n  ok: true,\n  shopify_draft_order_id: draft_id,\n  shopify_draft_order_gid: gid,\n  shopify_draft_order_name: draft.name || '',\n  shopify_invoice_url: draft.invoiceUrl || '',\n  shopify_status: 'draft_created',\n} }];\n"
      }
    },
    {
      "id": "map-wp-acf",
      "name": "Map ACF for WP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2620, 300],
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const p = $('Merge final: payload + app_code').first().json;\nconst shop = $('Shopify: parse draft result').first().json;\nconst hasDraft = !!(shop && shop.ok);\nreturn [{\n  json: {\n    title: p.application_code || ('LGA-' + Date.now()),\n    status: 'publish',\n    acf: {\n      first_name: p.first_name || '',\n      last_name: p.last_name || '',\n      dni: p.dni || '',\n      birth_date: p.birth_date || '',\n      phone: p.phone || '',\n      email: p.email || '',\n      address_line: p.address_line || '',\n      locality: p.locality || '',\n      province: p.province || '',\n      postal_code: p.postal_code || '',\n      housing_status: p.housing_status || '',\n      occupation: p.occupation || '',\n      occupation_detail: p.occupation_detail || '',\n      declared_income_ars: p.declared_income_ars || 0,\n      guarantor_name: p.guarantor_name || '',\n      guarantor_phone: p.guarantor_phone || '',\n      guarantor_relation: p.guarantor_relation || '',\n      requested_amount_ars: p.requested_amount_ars || 0,\n      payment_frequency: p.payment_frequency || '',\n      requested_installments: p.requested_installments || 0,\n      estimated_installment_ars: p.estimated_installment_ars || 0,\n      application_status: 'submitted',\n      zone_status: p.zone_status || '',\n      shop: p.shop || '',\n      source: p.source || '',\n      product_id: String(p.product_id || ''),\n      variant_id: String(p.variant_id || ''),\n      product_title: p.product_title || '',\n      product_handle: p.product_handle || '',\n      unit_price_ars: p.unit_price_ars || 0,\n      quantity: p.quantity || 1,\n      cart_token: p.cart_token || '',\n      cart_total_ars: p.cart_total_ars || 0,\n      cart_summary: p.cart_summary || '',\n      utm_source: p.utm_source || '',\n      utm_medium: p.utm_medium || '',\n      utm_campaign: p.utm_campaign || '',\n      utm_content: p.utm_content || '',\n      utm_term: p.utm_term || '',\n      referrer_url: p.referrer_url || '',\n      landing_url: p.landing_url || '',\n      application_code: p.application_code || '',\n      application_id: p.application_id || '',\n      client_id: p.client_id || '',\n      supabase_synced_at: new Date().toISOString().replace('T',' ').slice(0,19),\n      shopify_draft_order_id:   hasDraft ? shop.shopify_draft_order_id   : '',\n      shopify_draft_order_gid:  hasDraft ? shop.shopify_draft_order_gid  : '',\n      shopify_draft_order_name: hasDraft ? shop.shopify_draft_order_name : '',\n      shopify_invoice_url:      hasDraft ? shop.shopify_invoice_url      : '',\n      shopify_status:           hasDraft ? 'draft_created' : '',\n      shopify_last_sync_at:     hasDraft ? new Date().toISOString().replace('T',' ').slice(0,19) : '',\n    },\n  }\n}];\n"
      }
    },
    {
      "id": "create-wp-post",
      "name": "Create WP solicitud",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2840, 300],
      "parameters": {
        "method": "POST",
        "url": "https://admin.lga-arg.com/wp-json/wp/v2/solicitudes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept", "value": "application/json" },
            { "name": "Authorization", "value": "=Basic {{ $env.LGA_WP_BASIC_AUTH }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook Shopify Form": {
      "main": [[{ "node": "Validate + Normalize", "type": "main", "index": 0 }]]
    },
    "Validate + Normalize": {
      "main": [[{ "node": "PG: Upsert client", "type": "main", "index": 0 }]]
    },
    "PG: Upsert client": {
      "main": [[{ "node": "PG: Check zone", "type": "main", "index": 0 }]]
    },
    "PG: Check zone": {
      "main": [[{ "node": "Merge: payload + client_id + zone", "type": "main", "index": 0 }]]
    },
    "Merge: payload + client_id + zone": {
      "main": [[{ "node": "PG: Insert credit_application", "type": "main", "index": 0 }]]
    },
    "PG: Insert credit_application": {
      "main": [[{ "node": "Merge final: payload + app_code", "type": "main", "index": 0 }]]
    },
    "Merge final: payload + app_code": {
      "main": [[
        { "node": "Respond to Form", "type": "main", "index": 0 },
        { "node": "Format Telegram message", "type": "main", "index": 0 },
        { "node": "Shopify: Get access token", "type": "main", "index": 0 }
      ]]
    },
    "Format Telegram message": {
      "main": [[{ "node": "Send Telegram", "type": "main", "index": 0 }]]
    },
    "Shopify: Get access token": {
      "main": [[{ "node": "Shopify: draftOrderCreate", "type": "main", "index": 0 }]]
    },
    "Shopify: draftOrderCreate": {
      "main": [[{ "node": "Shopify: parse draft result", "type": "main", "index": 0 }]]
    },
    "Shopify: parse draft result": {
      "main": [[{ "node": "Map ACF for WP", "type": "main", "index": 0 }]]
    },
    "Map ACF for WP": {
      "main": [[{ "node": "Create WP solicitud", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveExecutionProgress": true,
    "timezone": "America/Argentina/Buenos_Aires"
  }
}
